:root {
  --primary: #021F48;
  --dark: #000000;
  --text: #4D4D4D;
  --bg: #ffffff;
}
body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.nav-bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(77, 77, 77, 0.8);  /* 80% opaque */
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px #00000020;
    animation: anime 0.5s ease forwards;
    z-index: 9999;
}

.nav-bar img {
    height: 50px;
    width: auto;
    border-radius: 30px;
    padding: 20px;
}


.nav-button {
  background-color: var(--primary);
  color: white;
  padding: 10px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease;
}
