body {
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4D4D4D;
    
}

.nav-bar img {
    height: 50px;
    width: auto;
    
    
}


button {
    background-color: #021F48;
    color: white;
    margin-right: 5px;
    border-radius: 10px;

}
