:root {
  --primary: #021F48;
  --dark: #000000;
  --text: #4D4D4D;
  --bg: #ffffff;
}
body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4D4D4D;
    
}

.nav-bar img {
    height: 50px;
    width: auto;
    border-radius: 30px;
    padding: 20px;
}


button {
  background-color: var(--primary);
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.type {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid currentColor;
    color: var(--text);
    animation: typing 8s steps(18) infinite, blink 0.6s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 75%;
    }
    100% {
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
        
    }
}
.hero {
    border-bottom: 10px solid #021F48;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 10px;
}
h2, h3{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary);
}
.section {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 20px;
  font-size: 20px;
  font-weight: 700;
}
footer {
  padding: 40px 20px;
  color: white;
}
